body {
  min-width: 1200px;
}

.navbar-nav > li > a {
  padding-top: 5px !important;
  padding-bottom:10px !important;
}

.navbar {
  border-radius: 0;
  min-height: 20px !important;
}

.navbar .container-fluid .navbar-header .navbar-brand {
  height: 20px !important;
  padding-top: 6px !important;
}

.navbar {
  border-bottom: 1px solid #222;
  margin-bottom: 0px;
}


/* Sidebar navigation */
.nav-sidebar {
  margin-left: -15px;
  margin-right: -15px;
}


.nav-sidebar .list-group {
  margin-bottom: 5px;
  padding-bottom: 3px;
}
.nav-sidebar .list-group .list-group-item:first-child {
  border-top: 1px solid #222;
}

.nav-sidebar .list-group .list-group-item {
  border-radius: 0px;
  border-right: 1px solid #222;
  border-left: none;
  border-top: none;
  border-bottom: none;
  /* border: 1px solid transparent; */
  padding: 4px 8px 3px 15px;
  margin: 1px 5px 1px 0px;
}

.nav-sidebar .list-group .list-group-item.active {
  background-color: #f89406; /* #272b30; */
  border-right: 1px solid #272b30;
  color: #fff;
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
/*
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 1px 0px 1px 0px;
*/
}

.nav-sidebar .list-group .list-group-item.active .badge {
  background-color: #fff;
  color: #222;
}

.nav-sidebar .list-group a.list-group-item:hover {
  background-color: #3e444c;
}

.nav-sidebar .list-group .list-group-item.active:hover {
  background-color: #f89406;
}


.list-group-item>.badge {
  font-size: 11px;
}



/* subnav */
#subnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:10;
  border-bottom: 1px solid #111;
  background-color: #272b30;
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
  min-width: 1200px;
}

#subnav .subnav-brand,
#subnav .subnav-brand:hover {
  text-decoration: none;
  color: #eee;
}

#subnav .subnav-logo {
  background-image: url("../img/kurado.png");
  display: inline-block;
  width: 20px;
  height: 20px;
}
#subnav .subnav-logo:before {
  content: " ";
}

#subnav .container-fluid .row {
  margin: 0px;
  padding: 5px 0px 5px 0px;
  min-height: 30px;
}

#subnav .subnav-title {
  color: #eee;
  margin: 0px;
  font-size: 19px;
}

#subnav .subnav-title a,
#subnav .subnav-title a:hover {
  text-decoration: underline;
  color: #fff;
}

.bootstrap-switch.bootstrap-switch-mini {
  margin-top: -1px;
  min-width: 60px;
  min-height: 20px;
  border-color: rgba(0,0,0,0.6);
  border-radius: 3px;
}
.bootstrap-switch .bootstrap-switch-container {
  height: 20px;
  border-radius: 3px;
}

.bootstrap-switch .bootstrap-switch-handle-on span,
.bootstrap-switch .bootstrap-switch-handle-off span,
.bootstrap-switch .bootstrap-switch-label span {
  display: block;
  padding-top: 1px;
  font-size: 10px;
  line-height: 9px;
  font-weight: normal;
}
.bootstrap-switch .bootstrap-switch-label {
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default {
  background-color: #f89406;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  background-color: #c8c8c8;
  color: #222;
}

#subnav .label-for-open-new {
  font-weight: normal;
  font-size: 12px;
}

.graph-nav {
  background-color: #272b30;
}

.graph-nav .btn-default.active {
  background-color: #f89406;
}
.graph-nav .btn-default.active:hover {
  background-color: #f89406;
  background-image: none;
}

/* table */
.table.metrics td {
  border: none;
  padding: 0px 2px 0px 0px;
}
h3.service {
  margin-top: 10px;
  margin-bottom: 8px;
}
.servers {
}
.servers .table td {
  padding: 3px;
}
.servers .table td.host-checked {
  background-color: #3e444c;
  /* #2e3338;*/
}
.servers .table th {
  padding: 1px;
  padding-left: 22px;
  color: #111;
  background-color: #bbb;
  font-size: 17px;
}

.host-status {
  color: #888;
}

.host-status-crit {
  color: #ff0702;
}

.host-status-warn {
  color: #ff5c00;
}


.host-checkbox {
  position: relative;
  display: inline-block;
  top: -1px;
}

.host-address, .host-address:hover {
  text-decoration: none !important;
  color: #4ef;
  padding-right: 2px;
}

.host-hostname {
  font-weight: bold;
  padding-right: 2px;
}

.host-comments {
  color: #888;
}

/* graphs */
table.servers-table.metrics,
table.metrics {
  margin-top: 10px;
}
table.metrics,
table.servers-table.metrics td,
table.servers-table.metrics th,
table.metrics td {
  background-color: transparent;
}

table.servers-table.metrics td,
table.servers-table.metrics th {
  min-width: 520px;
  max-width: 520px;
  padding-right: 4px;
  vertical-align: top;
  overflow: hidden;
}

table.servers-table.metrics th {
  font-size: 19px;
  text-align: center;
  border-bottom: 1px solid #222;
  padding-bottom: 10px;
}
table.servers-table.metrics th a {
  text-decoration: underline;
}

.plugin {
  margin-bottom: 15px;
}

.plugin .alert {
  margin-bottom: 2px;
  padding: 8px;
  border: 1px solid #ff0702;
}

h3.plugin-name {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  text-transform:uppercase;
}

h3.plugin-name.has-warn {
  color: #ff0702;
}

.label-meta {
  background-color: #f89406;
}

h4.metrics-label {
  font-size: 19px;
  color: #313131;
  /* border-top: 1px solid #222; */
  background-color: #c8c8c8;
  padding: 3px 3px 3px 8px;
  margin-top: 3px;
  margin-bottom: 5px;
  text-shadow: none;
  border-radius: 2px;
}

.metrics-meta {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 4px;
}

.metrics-meta > span {
  word-wrap: break-word;
}

.graphs {
  margin: 2px 0px;
  white-space: nowrap
}

table.servers-table.metrics .graphs {
  text-align: center;
}